/* Колір основного тексту #757575 */
/* Другорядний колір тексту #212121 */
/* Колір фону Білий #F5F5F5 */
/* Колір фону Сірий #2F303A */
/* Акцент 1  #2196F3 */

:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #f5f5f5;
  --background-color-grey: #f5f4fa;
  --footer-background-color: #2f303a;
  --white: #ffffff;
  --title-color: #ffffff;
  --button-color: #188ce8;
  --primary-color-grey: #afb1b8;
  --transition-dur-and-func :250ms cubic-bezier(0.4, 0, 0.2, 1)
}

/* Скидаємо налаштування від браузера */
/* Скидаємо налаштування заголовків */
h1,
h2,  
h3,
h4,
h5,
h6,
/* Скидаємо налаштування абзаців */
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* Скидаємо налаштування списків */
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* Прибираємо підкреслення під посиланнями */
.link {
  text-decoration: none;
}
/* Прибираємо кропки в списках */
.list {
  list-style: none;
}
/* Прибираємо відступи картинок у списковіх елементах */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* При наведені на кнопку зміна курсору */
button {
  cursor: pointer;
}
/* Задаемо основні параметри сторінки */
body {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
/* =============приховуємо заголовки============= */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ==========COMPONENTS================== */

/* Задаємо основні параметри контейнеру */

.page {
  background: var(--white: );
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section-standard {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ==========HEADER================== */
.header {
  border: 1px solid #ececec;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: var(--white);
}

.page-navigation {
  display: flex;
  align-items: center;
}


.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.menu-link {
  color: var(--title-text-color);
  transition: color var(--transition-dur-and-func);
  /* margin-bottom: 28px; */
}

.menu-link:hover,
.menu-link:focus {
  background: var(--white); /* Цвет фона под ссылкой */
  color: var(--accent-color); /* Цвет ссылки */
}

.menu-link-here {
  color: var(--accent-color);
 
}


.menu {
  display: flex;
  align-items: center;
  column-gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.menu-item-here{
  position: static;
   
}

.menu-item-here::after{
   display: block;
   content: ""; /*обовязковий елемент якщо немає контенту, без нього не буде відображення  */
   width: 100%;
   height: 4px;
   top: 31px;
   background: #2196F3;
   border-radius: 2px;
   position: relative;
   }


.contact {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.contact-email-phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-dur-and-func);
}

.contact-email-phone:hover,
.contact-email-phone:focus,
.icon-contact:hover
{
  cursor: pointer;
  color: var(--accent-color);
 
}

/* ======Іконки перед Контактами */
.icon-contact {
  display: inline-block;
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill var(--transition-dur-and-func);
}

.contact-email-phone:hover svg,
.contact-email-phone:focus svg
{
  fill: var(--accent-color);
 
}
/* ======Ефективні рішення========== */
.main-bg {
  background-color: #212121;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.main-section {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title-first {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-color);
}
/* Кнопка */

.button:hover,
.button:focus {
  background-color: var(--button-color);
}

.button-text {
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  border: 0;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-color);
   transition: background-color var(--transition-dur-and-func);
}

/* ==========Наші переваги================= */
.section-our-advantages {

}

.section-text {
  display: flex;
  gap: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.content-our-advantages {
  flex-basis: calc((100% - 90px) / 4);
}

.bgc-advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.icon-our-advantages {
  width: 70px;
  height: 70px;
}

.section-title-third {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.section-title-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/* ==========Чим ми займаємося================= */
.section-standard.about {
  padding-top: 0;
}

.item-our-advant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
}

.list-our-work {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* ============ Наша команда  ==================*/
.section-our-advant {
  background-color: var(--background-color-grey);
}

.employee {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--white);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.item-our-advant {
  display: flex;
  align-items: center;
  gap: 30px;
}

.our-advant-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-advant {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.our-advant-text {
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
}
/* ========== Іконки соцмереж ========== */

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white);
  transition: background-color var(--transition-dur-and-func);

}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-item {
}

/* Створюємо  */
/* Створюємо нижній фон для іконок соцмереж */
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-color-grey);
  transition: fill var(--transition-dur-and-func);

}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white);
}

/* ====Постійні клієнті===== */
.client {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.client-link {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border var(--transition-dur-and-func);
}


.client-item {
   flex-basis: calc((100% - 150px) / 6);
  
}
.client-link-icon {
  width: 106px;
  fill: var(--primary-color-grey);
   transition: fill var(--transition-dur-and-func);
}

.client-link:hover,
.client-link:focus{
  border: 1px solid var(--accent-color);
  
}

.client-link:hover svg,
.client-link:focus svg {
  fill: var(--accent-color);
}


/* -------FOOTER------------- */
/*  */
.footer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.container-footer {
  display: flex;
  align-items: center;
}
.address {
  font-style: normal;
}

.footer-list :not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}

/*  */
.footer-contact,
.footer-contact-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-color);
}

.footer-contact-map {
  margin-top: 20px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  transition: color var(--transition-dur-and-func);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/* ==================== */

/* ========== Іконки соцмереж підвал ========== */
.container-social-footer {
  margin-left: 70px;
}

.social-title-footer {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
}

.social-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-list-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);

}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: var(--accent-color);
}

/* Створюємо  */
/* Створюємо нижній фон для іконок соцмереж */
.social-list-icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--white);
}
/* ==========END Іконки соцмереж --- підвал ========== */
/* ========== Підпишиться на розсилку --- підвал ========== */

.subscribe-footer {
  margin-left: auto;
  /* display: flex; */
}
.subscribe-form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
}

.subscribe-form{
  display: flex;
  /* flex-direction: column; */
  /* margin-bottom: 40px; */
  /* padding-bottom: 40px; */
}
.subscribe-form-field{
  margin-right: 12px;

}
.subscribe-form-title{
  display: flex;
}
.subscribe-form-input{
  box-sizing: border-box;
/* position: absolute; */
  width: 358px;
  height: 50px;
  padding-left: 16px ;
  /* margin-right: 12px; */
   background: none;
   color: #fff;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
}

.subscribe-submit {
  display: flex;
  align-items: center; центрируем по вертикали
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 28px 10px 28px;
  border: 0;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-color);
  transition: background-color var(--transition-dur-and-func);
   
}
.subscribe-submit:hover,
.subscribe-submit:focus {
  background-color: var(--button-color);
}
.subscribe-submit::after{
   margin-left: 10px;
   display: block;
   content: url(../images/send.svg); /*обовязковий елемент якщо немає контенту, без нього не буде відображення  */
   width: 24px;
   height: 24px;
   top: 13px;
   /* background: #cbd0d4; */
   /* border-radius: 2px; */
   /* position: relative; */
   }




/* ======= -------/FOOTER------------- =========== */

/* ======= --------Модальне вікно--------- =========== */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
  transition: opacity var(--transition-dur-and-func), ;
  
}
 .backdrop.is-hidden {
 visibility: hidden;
 opacity: 0;
 pointer-events: none;
 }

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  /* height: 581px; */
  background-color: var(--white);

}
.modal-close-btn {
  position: absolute; /*за допомогою absolute розміщаємо кнопку в кут   */
  top: 8px;
  right: 8px;
  display: flex;      /*за допомогою flex центруэмо svg   */
  align-items: center; /*за допомогою flex центруэмо svg   */
  justify-content: center; /*за допомогою flex центруэмо svg   */
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1); 
}


.modal-close-icon {
  transition: fill var(--transition-dur-and-func);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
}

/*=============== Модальна форма ================*/
.modal-form{
  display: flex;
  flex-direction: column;
  /* margin-bottom: 40px;
  padding-bottom: 40px; */
}

.modal-form-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;

}

.modal-form-input{
  font-size: 12px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func) ;

}

.modal-form-input:focus{
  outline: none;
  border-color: var(--accent-color);
  
}

.modal-form-field{
  display: block;
  margin-bottom: 10px;
}

.modal-form-field-desc{
display: block;
margin-bottom: 4px;
/* font-style: normal; */
/* font-weight: 400; */
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.03em;
color: #757575;

}
.modal-form-input-wrapper{
  position: relative;
  display: block;
}
.modal-form-input-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  display: block;
  /* width: 12px;
  height: 12px; */
  transition: fill var(--transition-dur-and-func);
   /* background-color: none; */
   /* background-color: violet; */
}

.modal-form-input:focus + .modal-form-input-icon{
  fill: var(--accent-color);
}

.modal-form-message{
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  color: #000;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  transition: border-color var(--transition-dur-and-func) ;

}
.modal-form-message::placeholder{
  /* text-transform: uppercase; */
   color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.modal-form-message:focus{
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-own-checkbox{
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  /* border-color: #757575; */
  /* background-color: #757575; */
  margin-right: 7px ;
  margin-left: 12px;
}

.modal-form-own-checkbox-icon{
  margin-right: 37px ;
  /* display: none;      Приховуємо галочку svg */
  /* fill: var(--white); */
}

.modal-form-check{
   position: absolute; /*Виймаємо з потоку */
   appearance: none;    /*скидуємо всі властивості в 0 */

}
.modal-form-check-field{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-check:checked + .modal-form-own-checkbox{
  background-color: var(--accent-color);
}

.modal-form-check:checked + .modal-form-own-checkbox > .modal-form-own-ccheckbox-icon{
 /* display: block;  При натисканні зявляється галочка */
}

.modal-form-check:focus + .modal-form-own-checkbox{
   box-shadow: 0 0 0 1px var(--accent-color);
   border-radius: 2px;
   border-color: var(--accent-color);
}
.modal-form-field-checkbox{
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575; 
}


.modal-form-submit {
  height: 50px;
  width: 200px;
  align-self: center;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  border: 0;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-color);
   transition: background-color var(--transition-dur-and-func);
   
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--button-color);
}

.modal-form-field-checkbox-link{
  color: var(--accent-color);
  transition: text-decoration var(--transition-dur-and-func);
}

.modal-form-field-checkbox-link:hover,
.modal-form-field-checkbox-link:focus {
  text-decoration: none;
}


/*===============END Модальна форма ================*/
/* ======= ----- END Модальне вікно--------- =========== */


/*=============== Блок портфоліо ================*/
.portfolio-button-text {
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  border: 0;
  font-family: var(--primary-font);
  font-style: normal;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: rgba(245, 244, 250, 1);
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.portfolio-button-current {
  color: var(--title-color);
  background-color: var(--accent-color);
} 

.menu-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.work-portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.work-portfolio-text {
  margin: top 4px;
}

.work-portfolio-content {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio_cat {
  font-weight: 400;
  line-height: 1.88;
}

.work-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
 }


.work-portfolio-link{  
  display: block;
  transition : box-shadow var(--transition-dur-and-func) ;/* задаємо фукцію на весь блок для тіні */
}

.work-portfolio-img{
  position: relative;
  overflow: hidden;
}

.work-portfolio-overlay-center{
 position: absolute;
 top: 0%;
 bottom: 0;
 height: 100%;
 width: 100%;
 background: rgba(33, 150, 243, 0.9);
 overflow: auto;
 transform: translateY(100%);
 transition: transform 250ms linear;
 padding-left: 24px;
 padding-right: 24px;
 font-size: 18px;
 line-height: 1.56;
 letter-spacing: 0.03em;
 color: #FFFFFF; 
 display: flex;
 align-items: center; 

}

.work-portfolio-link:hover .work-portfolio-overlay-center,
.work-portfolio-link:focus .work-portfolio-overlay-center {
  transform: translateY(0%);
}

.work-portfolio-link:hover,
.work-portfolio-link:focus {
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-portfolio > .work-portfolio-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

/* Кнопка */
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--title-color);
  background-color: var(--accent-color);
}

.portfolio-button-text:hover,
.portfolio-button-text:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  /* border-radius: 4px; */
}

/* +++++++++++++++++++++++++++ */
